@use './variable';

$button-size: 32px;
$circle-button-size: 24px;

.save-button {
    width: 80px;
    height: $button-size;
    border-radius: 999px;
    border: 2px solid variable.$primary-color;
    box-sizing: border-box;
    background-color: variable.$primary-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__text,
    & svg {
        position: absolute;
        fill: transparent;
        pointer-events: none;
    }
}

.save-button:enabled {
    cursor: pointer;
}

.saving {
    width: $button-size;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 100vh;
    border-left: 2px solid variable.$primary-color;
    border-bottom: 2px solid variable.$primary-color;
    animation: spin 0.8s 0.3s both;
    transition: 0.3s;

    &__text {
        color: transparent;
    }

    & svg {
        animation: check 0.4s 0.8s forwards;
    }
}

@keyframes spin {
    80% {
        border: 2px solid transparent;
        border-left: 2px solid variable.$primary-color;
    }
    100% {
        border: 2px solid variable.$primary-color;
        transform: rotate(1080deg);
    }
}

@keyframes check {
    to {
        fill: variable.$primary-color;
    }
}

.circle-button {
    display: inline-flex;
    align-items: center;
    gap: 3px;

    & button {
        position: relative;
        width: $circle-button-size;
        height: $circle-button-size;
        border: 2px solid variable.$border-color;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;

        appearance: none;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            background-color: variable.$border-color;
            content: '';
        }
        &.plus-button::before,
        &.minus-button::before {
            width: 50%;
            height: 10%;
        }
        &.plus-button::after {
            width: 10%;
            height: 50%;
        }

        &:hover {
            border-color: variable.$primary-color;
            transition: 0.2s;
            &::before,
            &::after {
                background-color: variable.$primary-color;
            }
        }
    }
}
