@use './variable';

$checkbox-size: 20px;

.checkbox {
    position: relative;
    width: $checkbox-size;
    height: $checkbox-size;
    margin: 0;
    appearance: none;
    cursor: pointer;

    &-label {
        display: inline-flex;
        align-items: center;
        margin: 8px 8px 8px 2px;
        cursor: pointer;
    }

    &-text {
        margin-left: 4px;
        color: variable.$text-color;
    }

    &[type='checkbox'] {
        &:before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            width: $checkbox-size;
            height: $checkbox-size;
            background-color: white;
            border: 2px solid variable.$border-color;
            border-radius: 4px;
        }

        &:checked:before {
            border: 2px solid variable.$primary-color;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-55%, -95%) rotate(45deg);
            width: $checkbox-size * 0.4;
            height: $checkbox-size * 0.6;
            background-color: transparent;
            box-shadow: 3px 3px 0px 0px variable.$primary-color;
            opacity: 0;
        }

        &:checked:after {
            opacity: 1;
            animation: toggle 0.2s ease both;
        }
    }
}

@keyframes toggle {
    0% {
        opacity: 0;
        transform: translate(-55%, -95%) scale(0) rotate(45deg);
    }

    70% {
        opacity: 1;
        transform: translate(-55%, -95%) scale(1.1) rotate(45deg);
    }

    100% {
        transform: translate(-55%, -95%) scale(1) rotate(45deg);
    }
}
