@use './variable';
@import '../../node_modules/quill/dist/quill.core';
@import '../../node_modules/quill/dist/quill.snow';

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.template-setting {
    &__label {
        display: block;
    }

    &__editor {
        width: 100%;
        height: 320px;
        margin-bottom: 8px;
    }

    &__usage-link {
        margin-top: 8px;
        color: variable.$primary-color;
    }
}

.ql-placeholder .ql-picker-label {
    width: 112px;

    &::before {
        content: attr(data-name);
    }
}

.ql-placeholder .ql-picker-item::before {
    content: attr(data-name);
}
