@use '~reset-css/sass/reset';
@use './variable';
@use './button.scss';
@use './checkbox.scss';
@use './radio.scss';
@use './editor.scss';

main {
    width: 560px;
    height: 100%;
    margin: 24px;
    padding: 24px;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.title {
    display: inline-block;
    font-size: 28px;
}

.group {
    margin-bottom: 28px;

    &__title {
        font-size: 20px;
        margin-bottom: 8px;
    }
}
